@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.footer {
  left: 0;
  right: 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(45deg, #210712, #00153c);
  padding: 20px;
  width: 100%; /* change from 100vw to 100% */
  height: 20rem;
  position: absolute;
  overflow: hidden;
}


.marq {
  position: absolute;
  bottom: 20px;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scroll {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 30%,
    #fff 70%,
    transparent
  );
}

.scroll div {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
}

.scroll div:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background: #57510ec3;
  color: #fff;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #f52789;
  cursor: pointer;
}

.footer-content {
  position: absolute;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #d5d5d5;
  margin: 0 auto;
}

.col {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 28%;
}

.col p{
  color: #d1e1f5; 
}

.col1 {
  border-radius: 10px;
}

.col2, .col3 {
  border-radius: 10px;
}

.social {
  display: flex;
  gap: 10px;
}

.link {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

footer p {
  color: #818181;
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    padding: 5rem 2vw;
    position: relative;
  }
  .col {
    width: 100%;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 60%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: center;
  
}
.col h4 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  background: linear-gradient(135deg, #8db6f5 0%, #637086 100%);
  -webkit-background-clip: text; /* For Chrome, Safari, Edge */
  -webkit-text-fill-color: transparent; /* Makes the text show the gradient */
  background-clip: text; /* Standard property for future compatibility */
}

.col h3 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-start; /* 'left' is not valid in flex */
  background: linear-gradient(135deg, #fefefe 0%, #4c6a9e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard property for future compatibility */
}


.col a {
  color: #d5d5d5;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s;
}

.col a:hover {
  color: #f52789;
}

.gandhaar-logo {

  position: absolute;
  bottom: 5rem;
  padding-left: 20rem;
}


.copyright {
  position: absolute;
  bottom: 0.05rem;
  right: 43rem;
  font-size: 0.85rem;
  color: #818181;
}


@media screen and (max-width: 968px) {
  .footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    height:50rem; 
    position: relative;
  }
 
  .col3{
    position: absolute;
    top: 30rem;
    left: 3.2rem;
    height: fit-content;

  }
  .gandhaar-logo {
    width: 13rem; 
    padding-left: 0;
    padding-bottom: 10rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    gap: 20px; 
    padding-left: 5rem;
  }

  .col {
    text-align: center; 
    width: 100%; 
    padding: 0;
  }

  .marq {
    width: 100%; 
    text-align: center;
  }

}
.icon-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: inherit;
  text-decoration: none;
}

.icon-link:hover {
  color: #ff5722;
}
.contact-icons{
  display: flex;
  gap: 2rem;
}