body {
  margin: 0;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/736x/87/ae/3d/87ae3ddf70ef1cebde9dfa369ab3ef08.jpg");
  background-repeat: repeat-y;        /* repeat vertically */
  background-size: 100% 100vh;        /* full screen size */
  background-position: top center;
}
