@font-face {
    font-family: 'Quinlliyk';
    src: url('fonts/Quinlliyk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Quinlliyk', sans-serif;
}
